extends layout

block content
    
    include includes/header

    h1= title
    p Welcome to #{title}

    section#wrapper
        section
            p
                span This is a span with a p within a div!
            p
    - var creator = "Igoryen"
                span Created by #{creator}

    - users = ['Sally', 'Joseph', 'Michael', 'Sanjay'];
    - each user in users
        p= user

    - scientists = [{fname: "Linus",lname: "Torvalds",achieved: "Linux kernel"},{fname: "Donald",lname: "Knuth",achieved: "Computer Science"},{fname: "Ada",lname: "Lovelace",achieved: "the first algorithm intended to be carried out by a machine"},{fname: "Steve",lname: "Vozniak",achieved: "single-handedly developed the 1976 Apple I, which was the computer that launched Apple"},{fname: "Grace",lname: "Hopper",achieved: "the first compiler for a computer programming language and was one of those who popularized the idea of machine-independent programming languages which led to the development of COBOL"}];

    - each scientist in scientists
        li #{scientist.fname} #{scientist.lname} - #{scientist.achieved}


    mixin fam_members(members)
        ul
            each member in members
                li= member

    - family = ['Father', 'Mother', 'Son', 'Daughter']
    mixin fam_members(family)

    include includes/footer
